In [1]:
from data_loader import dataloader
import matplotlib.pyplot as plt
user,ratings,movies = dataloader()

In [4]:
import pandas as pd
final_df = ratings.merge(movies, on='movie_id', how='left').merge(user, on='user_id', how='left')
final_df.head()

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067

In [7]:
final_df_matrix = final_df.pivot(index='user_id',
                                 columns='movie_id',
                                 values='rating').fillna(0)
final_df_matrix[3952]

user_id
1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
       ...
6036    0.0
6037    0.0
6038    0.0
6039    0.0
6040    0.0
Name: 3952, Length: 6040, dtype: float64

In [4]:
user_profile = pd.read_csv("u_dict.csv")
user_profile.set_index('user_id')

,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
user_id,,,,,,,,,,,,,,,,,,
1,0.631529,-0.591307,-0.009106,0.305287,0.359892,0.000000,0.000000,0.640676,-0.385473,0.000000,0.000000,0.398214,0.000000,-0.418854,0.523618,-0.262804,0.421913,0.000000
2,-0.425945,0.233544,0.000000,0.000000,-0.517141,-0.664623,0.000000,0.032682,0.000000,0.722919,-0.504627,0.000000,0.023930,-0.049590,-0.018921,-0.174133,-0.100053,0.686688
3,0.011838,0.532460,0.198363,0.198363,-0.371953,0.000000,0.000000,-0.220515,1.058989,0.000000,-1.589499,0.000000,-1.372370,-0.369162,-0.674495,-0.229421,0.437835,0.876803
4,-0.329538,-0.619029,0.000000,-1.024814,0.000000,-0.061588,0.000000,-0.594308,1.244829,0.000000,0.029449,0.000000,0.000000,-0.061588,-0.982099,-0.878168,-0.223298,-0.599367
5,-0.721325,0.085511,0.265450,0.487979,0.059513,0.388116,0.105812,-0.183982,0.000000,0.562875,-0.281315,-0.376032,-0.116208,0.025675,0.107302,-0.127788,0.577860,0.643571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6036,-0.147513,-0.077564,0.715220,-0.087862,-0.160637,0.165660,0.906036,0.243584,0.085508,1.041614,-0.071285,0.282314,0.010707,-0.037867,-0.400265,-0.088092,0.438057,0.851566
6037,-0.179200,0.652610,1.272821,-0.703248,0.029764,0.267259,0.633505,0.468274,0.274722,-0.196361,0.569267,0.256746,0.105795,0.055410,0.084315,0.213137,0.413213,0.358388
6038,-1.210338,0.000000,0.671109,-1.177578,-0.323645,0.000000,0.000000,-0.558906,0.000000,0.000000,-1.287608,0.000000,0.000000,0.394418,0.000000,0.000000,-0.515722,0.000000
6039,-0.353899,0.212850,-0.049167,-0.478314,-0.305444,-0.158401,0.000000,0.018711,0.241573,0.337656,0.000000,-0.193354,-0.009706,-0.112898,0.031396,0.115392,-0.040051,0.764855
6040,-0.671692,-0.543817,-1.357854,0.681762,-0.347359,0.420171,1.005091,0.325464,0.099073,0.096215,-0.829439,0.599155,0.623782,-0.121764,0.380411,0.263875,0.344612,0.658413

In [10]:
final_df_matrix = final_df_matrix.merge(user_profile,on= 'user_id', how="left")
final_df_matrix = final_df_matrix.set_index('user_id')
final_df_matrix.head()

,1,2,3,4,5,6,7,8,9,10,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.385473,0.000000,0.000000,0.398214,0.000000,-0.418854,0.523618,-0.262804,0.421913,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.722919,-0.504627,0.000000,0.023930,-0.049590,-0.018921,-0.174133,-0.100053,0.686688
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.058989,0.000000,-1.589499,0.000000,-1.372370,-0.369162,-0.674495,-0.229421,0.437835,0.876803
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.244829,0.000000,0.029449,0.000000,0.000000,-0.061588,-0.982099,-0.878168,-0.223298,-0.599367
5,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.000000,0.562875,-0.281315,-0.376032,-0.116208,0.025675,0.107302,-0.127788,0.577860,0.643571

In [11]:
n_users = final_df['user_id'].nunique()
n_movies = final_df['movie_id'].nunique()
print(final_df.shape)
sparsity = round(1.0 - final_df.shape[0] / float(n_users * n_movies), 3)
print('The sparsity level of MovieLens1M dataset is ' +  str(sparsity * 100) + '%')

(1000209, 10)
The sparsity level of MovieLens1M dataset is 95.5%

In [12]:
import numpy as np
user_ratings_mean = np.mean(final_df_matrix.values, axis=1)
ratings_demeaned = final_df_matrix.values - user_ratings_mean.reshape(-1, 1)
from scipy.sparse.linalg import svds
U, sigma, Vt = svds(ratings_demeaned, k=50)

In [15]:
sigma = np.diag(sigma)
all_user_predicted_ratings = np.dot(np.dot(U, sigma), Vt) + user_ratings_mean.reshape(-1, 1)
preds = pd.DataFrame(all_user_predicted_ratings, columns = final_df_matrix.columns)
preds.head()

,1,2,3,4,5,6,7,8,9,10,...,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,4.290477,0.142396,-0.194056,-0.017874,0.012322,-0.169832,-0.072487,0.140978,-0.058826,-0.199180,...,0.019740,-0.071616,-0.189297,0.147835,-0.089402,0.031788,-0.046091,0.026817,0.187068,0.077300
1,0.732172,0.175745,0.331922,-0.002083,0.024050,1.351115,0.049354,0.072709,0.160146,1.579263,...,0.156361,0.002121,-0.435945,-0.037930,-0.105017,0.041319,-0.080625,0.111700,0.265243,-0.025041
2,1.826852,0.451603,0.091633,-0.042639,-0.028196,-0.163853,-0.131748,0.097328,0.028060,0.725697,...,0.145332,-0.035879,-0.255394,0.078927,-0.036555,-0.009644,-0.098836,0.003990,0.115506,0.244841
3,0.402199,-0.073870,0.038497,0.089815,0.039287,0.236999,-0.047952,0.006477,0.044902,-0.111351,...,0.172770,-0.021108,0.029798,-0.038384,-0.027788,-0.038663,-0.037845,0.003983,0.055352,0.034044
4,1.574036,0.027059,-0.056073,0.244701,-0.031248,1.556975,-0.201159,-0.013636,-0.060130,0.460504,...,-0.130445,0.288787,0.042037,-0.093074,0.093390,-0.091662,0.063185,0.058424,0.153283,-0.303829